In [1]:
# paly with numbers
n = input().split()
n[0],n[1]=int(n[0]),int(n[1])
a=input().split()
sum=[]
#cumulative sum
for i in range(0,n[0]):
    if(i==0):
        sum.append(int(a[i]))
    else:
        sum.append(int(sum[i-1])+int(a[i]))
        
#print(sum[n[0]-1])
del a
for i in range(0,n[1]):
    inq=input().split()
    i=int(inq[0])
    j=int(inq[1])
    if i>1:
        print((sum[j-1]-sum[i-2]) // (j-i+1))
    else:
        print(sum[j-1]//(j-i+1))

5 3
1 2 3 4 5
1 3
2
2 4
3
2 5
3

In [3]:
#Prime
def isPrime(n):
    flag=1
    for i in range(2,n//2+1):
        if n%i==0:
            flag=0
            return False
    if flag == 1:
        return True
isPrime(5)

True

In [21]:
#primeFactor
def isPrime(n):
    flag=1
    if n==2:
        return True
    for i in range(2,n//2+1):
        if n%i==0:
            flag=0
            return False
    if flag == 1:
        return True
def numberPrimeFactors(n):
    if isPrime(n):
        return 1
    count=0
    for i in range(2,n//2+1):
        if isPrime(i) and n%i==0:
            count+=1
    return count
numberPrimeFactors(30)

3

In [27]:
#Special number

def isSpecialNumber(n,p):
    if numberPrimeFactors(n)>=p:
        return True
    return False
    
def isPrime(n):
    flag=1
    if n==2:
        return True
    for i in range(2,n//2+1):
        if n%i==0:
            flag=0
            return False
    if flag == 1:
        return True
def numberPrimeFactors(n):
    if isPrime(n):
        return 1
    count=0
    for i in range(2,n//2+1):
        if isPrime(i) and n%i==0:
            count+=1
    return count
isSpecialNumber(6,2)

True

In [29]:
def solution2():
    p=int(input())
    t=int(input())
    for i in range(0,t):
        n=int(input())
        if isSpecialNumber(n,p):
            print("YES")
        else:
            print("NO")
solution2()

2
3
6
YES
1
NO
0
NO

In [6]:
#highest Remainder

def highestRemainder(n):
    hr=0
    value=n
    for i in range(n-1,n//2,-1):
        r = n%i
        if r>hr:
            hr=r
            v=i
            
    print(v)
    return

highestRemainder(400)

201

## Tuples
t1=()

immutable 

difference between Lists and Tuples
lists are mutable - can be changed/modified
- access modify and delete the data will perform in lists

Tuples are immutable - Can't be changed once initialised

- Tuples are generaly used to access data only(view)
- slicing work will work

In [4]:
t2=(12,23,34,35,55,65)
t2
t2[2]#accessing the second element
t2[::]#accessing the all elements
t2[len(t2)//2:]#accessing the values from half of the given length

(35, 55, 65)

In [6]:
s={"g","j","o"}
s

{'g', 'j', 'o'}

In [17]:
thisset = {"apple", "banana", "cherry"}
s="fght 5678v"
l=list(s.split())
# for x in thisset:
#     if x not in l:
#         l.append(x)
print(l)

['fght ', '678v']

In [40]:
type(t2)

tuple

### Dictionaries 

It works on the concept of set 

Unique data 

keys,values

key is the unique identifier for the value

value is data that can be accessed with a key

In [59]:
d1={"key":"value","key1":"value","key2":"value2"}
d1["key2"]

'value2'

In [57]:
d2={"key":"value","key2":"value1","key2":"duplicatekey"}
d2["key2"]

'duplicatekey'

In [64]:
d1["key"]
d1.values()#returns list of all values
d1.keys()#returns list of all keys
d1.items()#returns list of tuples of keys and values

dict_items([('key', 'value'), ('key1', 'value'), ('key2', 'value2')])

In [69]:
d1["key3"]="value3"
d1["key3"]="value3Update"

In [70]:
d1

{'key': 'value', 'key1': 'value', 'key2': 'value2', 'key3': 'value3Update'}

In [67]:
d1.pop("key3")#Removing an element

'value3'

In [71]:
d1

{'key': 'value', 'key1': 'value', 'key2': 'value2', 'key3': 'value3Update'}

In [77]:
"key3" in d1# for searching 
#"value" in d1

False

## Contacts
- add contact
- search for contact
- List all contacts
- modify contact
- Remove Contact
-

In [27]:
contacts={}
def addContact(name,phone):
    #verify theat the contact doesnot already exist
    if name not in contacts:
        contacts[name]=phone
        print("Contact %s added " % name)
    else:
        print("Contact %s already exists " % name)
    return
addContact("ramireddy4",9502491330)
contacts

Contact ramireddy4 added

{'ramireddy4': 9502491330}

In [31]:
addContact("ramireddy1",9502491330)

Contact ramireddy1 added

In [29]:
contacts

{'ramireddy4': 9502491330, 'ramireddy3': 9502491330}

In [36]:
def searchName(n):
    if n in contacts:
        print("%s :"%n,contacts[n])#n,":",contacts[n])
    else:
        print("%s does not exists " % n)
searchName("ramireddy1")

ramireddy1 : 9502491330

In [111]:
contacts

{'ramireddy4': 9502491330}

In [116]:
contacts["ramireddy4"]=9988776655

In [113]:
contacts

{'ramireddy4': 9988776655}

In [114]:
contacts.pop("ramireddy4")

9988776655

In [117]:
contacts

{'ramireddy4': 9988776655}

In [118]:
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts are added")
    return
newContacts={"name2":9900887766,"name3":8899007766}
importContacts(newContacts)

2 Contacts are added

In [119]:
contacts

{'ramireddy4': 9988776655, 'name2': 9900887766, 'name3': 8899007766}

## Packages and Modules

**Package** -> Collection of Modules(Python File.py)

**sub Package**->

**Module** -> A Single Python file containing functions

Package->sub Package->modules->functions

In [2]:
import math 
math.floor(143.143)

143

In [134]:
from math import floor as ramireddy
floor(1234.1234)
pi
ramireddy(123.456)

123

In [125]:
math.pi

3.141592653589793

In [162]:
# Function to generate N random Number

import random
s=[]
def generateNRandomNumber(n,lb,ub):
    
    for i in range(0,n):
        #print(random.randint(lb,ub),end=" ")
        s.append(random.randint(lb,ub))
    
generateNRandomNumber(10,0,100)
s

[55, 10, 63, 31, 11, 99, 98, 36, 83, 10]

In [10]:
from packages import numerical as ramireddy
ramireddy.isPrime(7)
ramireddy.numberPrimeFactors(10134)

3

In [1]:
str1 = input()
str2 = input()
def makeAnagram(a, b): 
    r = [0] * 26
    for char in a: 
        r[ord(char) - ord('a')] += 1
    for char in b: 
        r[ord(char) - ord('a')] -= 1
    return sum(map(abs, r)) 
makeAnagram(str1, str2)

ramireddy
rammiredy

2

In [37]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [40]:
d={"name":"Ram","roll":573}
d

{'name': 'Ram', 'roll': 573}

In [41]:
d1=d.copy()

In [46]:
d1

{'name': 'Ram', 'roll': 573}

In [48]:
d1

{'name': 'Ram', 'roll': 573}

In [51]:
d1.pop("name")

'Ram'

In [52]:
d1.popitem()

('roll', 573)

In [53]:
d1=d

In [54]:
d1

{'name': 'Ram', 'roll': 573}

In [55]:
del d1

In [57]:
d1=d

In [58]:
d.keys()

dict_keys(['name', 'roll'])

In [63]:
d.fromkeys('ram')

{'r': None, 'a': None, 'm': None}

In [65]:
person = {'name': 'Phill', 'age': 22}

age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

person =  {'name': 'Phill', 'age': 22}
Age =  22

In [72]:
marks = {}.fromkeys(['Math','English','Science'], 55)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
list(sorted(marks.keys()))

{'Math': 55, 'English': 55, 'Science': 55}
('Math', 55)
('English', 55)
('Science', 55)

['English', 'Math', 'Science']